<h1>{{ discuss_theme.title }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'discuss:entry' discuss_theme.id %}" method="post">
{% csrf_token %}
    <input type="radio" name="side-choice" id="side-choice-1" value="{{ discuss_theme.one_side }}">
    <label for="side-choice-1">{{ discuss_theme.one_side }}</label><br>
    <input type="radio" name="side-choice" id="side-choice-2" value="{{ discuss_theme.another_side }}">
    <label for="side-choice-2">{{ discuss_theme.another_side }}</label><br>
    <br>
<input type="submit" value="Entry">
</form>
<a href="{% url 'discuss:index' %}">Home</a>