{% extends 'discuss/base.html' %}
{% block content %}
<h4>参加募集一覧</h4>

{% if latest_discuss_theme_list %}
    <ul>
    {% for discuss_theme in latest_discuss_theme_list %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <div class="text-muted">{{ discuss_theme.genre.title }}</div>
                <h5 class="card-title">{{ discuss_theme.title }}</h5>
                <br>
                <h6 class="card-subtitle">募集人数：<br>
                    {{ discuss_theme.discuss_side.one_side}} {{ discuss_theme.max_n_of_member }} 人
                    {{ discuss_theme.another_side }} {{ discuss_theme.max_n_of_member }} 人</h6>
                <br>
                <a href="{% url 'discuss:detail' discuss_theme.id %}" class="btn btn-primary">募集詳細</a>
            </div>
        </div>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
{% endblock %}

